/* LINEUP STYLES */
.lineup-container .ant-card-body {
  padding: 10px !important;
} 

.lineup-container .ant-col {
  margin-bottom: 16px !important;
  text-align: center;
}

.lineup-container .empty-entry-lineup {
  padding-top: 100px;
  font-size: 24px;
  font-weight: 900px;
  color: #bdbaba;
  background: #e2e2e2;
  height: 217px;
}

.lineup-container .lineup-image {
  max-height: 190px;
}

.lineup-header {
  font-size: 24px;
}

.lineup-container .ant-card.active {
  box-shadow: 0 2px 8px rgba(23,144,255, 1);
}
