.preview-header {
  font-size: 24px;
}

.preview-container .ant-col {
  margin-bottom: 10px;
}

.preview-container label {
  font-weight: 700;
  color: #949494;
}

.preview-container .empty-form{
  background-color: #e2e2e2;
  color: #989898;
  padding-top: 80px;
  text-align: center;
  min-height: 200px;
}
